In [107]:
import pandas as pd
data = pd.read_csv("data/dataset-2.csv") 
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [108]:
data = data.drop(columns=['customerID'])
data['Churn'].replace("No", 0, inplace=True)
data['Churn'].replace("Yes", 1, inplace=True)
data['Partner'].replace("Yes",1,inplace=True)
data['Partner'].replace("No",0,inplace=True)
data['Dependents'].replace("Yes",1,inplace=True)
data['Dependents'].replace("No",0,inplace=True)
data['PhoneService'].replace("Yes",1,inplace=True)
data['PhoneService'].replace("No",0,inplace=True)


data = pd.concat([data,pd.get_dummies(data['gender'], prefix='gender')],axis=1)
data = pd.concat([data,pd.get_dummies(data['InternetService'], prefix='InternetService')],axis=1)
data = pd.concat([data,pd.get_dummies(data['Contract'], prefix='Contract')],axis=1)
data = pd.concat([data,pd.get_dummies(data['PaymentMethod'], prefix='PaymentMethod')],axis=1)
data = pd.concat([data,pd.get_dummies(data['OnlineSecurity'], prefix='OnlineSecurity')],axis=1)
data = pd.concat([data,pd.get_dummies(data['MultipleLines'], prefix='MultipleLines')],axis=1)
data = pd.concat([data,pd.get_dummies(data['DeviceProtection'], prefix='DeviceProtection')],axis=1)
data = pd.concat([data,pd.get_dummies(data['TechSupport'], prefix='TechSupport')],axis=1)
data = pd.concat([data,pd.get_dummies(data['StreamingTV'], prefix='StreamingTV')],axis=1)
data = pd.concat([data,pd.get_dummies(data['StreamingMovies'], prefix='StreamingMovies')],axis=1)
data = pd.concat([data,pd.get_dummies(data['PaperlessBilling'], prefix='PaperlessBilling')],axis=1)
data = pd.concat([data,pd.get_dummies(data['OnlineBackup'], prefix='OnlineBackup')],axis=1)

In [106]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes
0,1,0,1,0,1,0,No phone service,DSL,No,Yes,...,0,0,1,0,0,0,1,0,0,1
1,0,0,0,0,34,1,No,DSL,Yes,No,...,0,0,1,0,0,1,0,1,0,0
2,0,0,0,0,2,1,No,DSL,Yes,Yes,...,0,0,1,0,0,0,1,0,0,1
3,0,0,0,0,45,0,No phone service,DSL,Yes,No,...,0,0,1,0,0,1,0,1,0,0
4,1,0,0,0,2,1,No,Fiber optic,No,No,...,0,0,1,0,0,0,1,1,0,0

In [109]:
data = data.drop(columns=['gender','InternetService','Contract','PaymentMethod','OnlineSecurity','MultipleLines','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','OnlineBackup'])

In [110]:
data['tenure'] = pd.cut(data['tenure'],10,right=True,labels=[0,1,2,3,4,5,6,7,8,9])
data['MonthlyCharges'] = pd.cut(data['MonthlyCharges'],10,right=True,labels=[0,1,2,3,4,5,6,7,8,9])
data = data.drop(columns=['TotalCharges'])

In [111]:
data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MonthlyCharges,Churn,gender_Female,gender_Male,InternetService_DSL,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes
0,0,1,0,0,0,1,0,1,0,1,...,0,0,1,0,0,0,1,0,0,1
1,0,0,0,4,1,3,0,0,1,1,...,0,0,1,0,0,1,0,1,0,0
2,0,0,0,0,1,3,1,0,1,1,...,0,0,1,0,0,0,1,0,0,1
3,0,0,0,6,0,2,0,0,1,1,...,0,0,1,0,0,1,0,1,0,0
4,0,0,0,0,1,5,1,1,0,0,...,0,0,1,0,0,0,1,1,0,0

In [112]:
from scipy.spatial import distance
import numpy as np

# Compute the Manhattan Distance Matrix
matrix = distance.cdist(data.iloc[:,1:],data.iloc[:,1:], 'cityblock')
distanceMatrix = pd.DataFrame(matrix)
distanceMatrix.head()
data.loc[:,'distance'] = distanceMatrix.sum(axis=1)
data.sort_values(by=['distance']).head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MonthlyCharges,Churn,gender_Female,gender_Male,InternetService_DSL,...,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,distance
1685,1,1,0,3,1,5,0,0,1,0,...,0,1,0,0,0,1,1,0,0,137564.0
3035,1,1,0,3,1,5,0,1,0,0,...,0,1,0,0,0,1,1,0,0,137698.0
5471,0,0,0,4,1,5,0,1,0,0,...,0,1,0,0,0,1,1,0,0,138248.0
5255,0,0,0,4,1,5,0,1,0,0,...,0,1,0,0,0,1,1,0,0,138248.0
5801,1,1,0,4,1,5,0,0,1,0,...,0,1,0,0,0,1,1,0,0,138353.0

In [113]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D


width_in_inches = 2
height_in_inches = 2
dots_per_inch = 70

plt.figure(
    figsize=(width_in_inches, height_in_inches),
    dpi=dots_per_inch)

distanceMatrix = np.array(distanceMatrix)
length = distanceMatrix.shape[0]
width = distanceMatrix.shape[1]
x, y = np.meshgrid(np.arange(length), np.arange(width))

fig = plt.figure()
ax = fig.add_subplot(1,1,1, projection='3d')
ax.plot_surface(x, y, distanceMatrix)
plt.show()